<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Ordini - Il Ristorante del Gusto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/index"><img src="/images/2" alt="Logo Il Ristorante del Gusto" class="logo"></a>
            <h1><a href="/index">Il Ristorante del Gusto</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Homepage</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="order-section">
        <div th:if="${orders == null || orders.isEmpty()}">Non ci sono ordini nel sistema</div>
        <table th:if="${orders != null && !orders.isEmpty()}" class="order-admin-table">
            <thead>
                <tr>
                    <th>Orario</th>
                    <th>Cognome</th>
                    <th>Indirizzo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orario}" class="order-admin"></td>
                    <td th:text="${order.user.surname}"  class="order-admin"></td>
                    <td th:text="${order.user.address.name}"  class="order-admin"></td>
					<td><a th:href="@{/admin/order/{orderId}(orderId=${order.id})}"class="order-admin">Visualizza Ordine</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>



