/* Reset di base per rimuovere i margini e i padding predefiniti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    color: #fff;
}

header h1 {
    float: none; /* Remove float */
}

nav {
    float: none; /* Remove float */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li.login {
    float: right;
    margin-right: 50px;
}

.button-35 {
	padding: 0.5rem 1rem; /* increase the padding */
}

a {
    text-decoration: none;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; 
    margin-right: 10px; /* Distanza tra logo e titolo */
}

/* Colore di sfondo globale per tutte le pagine */
body {
    background-color: rgb(212, 204, 209); /* Colore di sfondo desiderato */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Assicura che il body copra tutta la pagina */
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #333; /* Colore di sfondo per header e footer */
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    flex: 1; /* Permette alla sezione centrale di occupare tutto lo spazio disponibile */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#product-container {
    padding: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-details h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-details p {
    font-size: 16px;
    color: #666;
}

/*order.html */

.order-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-admin-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.order-admin-table th, .order-admin-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.order-admin-table th {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
}

.order-admin-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/*product.html*/

#product-detail {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.product-detail-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.product-detail-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.product-image {
    margin-bottom: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.product-detail-card p {
    font-size: 18px;
    margin: 10px 0;
}

.product-detail-card p strong {
    font-weight: bold;
    color: #333;
}

/*manageMenu.html*/

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

.product-card h3{
	margin: 0px;
	
}

.product-title {
    color: #444; 
    font-weight: bold;
    font-size: 18px;
}

.product-card p {
    margin: 8px 0;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

.title {
	font-size:30px;
	font-weight: 600;
	margin-bottom: 30px;
	align-items: center;
}

.subtitle {
	font-size: 20px;
	font-weight: 300;
	align-items: center;
	margin-top: 0;
}

.product-card h2 {
    font-size: 18px;
    color: #333;
}

.product-card p {
    font-size: 18px;
    color: #333;
}

.product-card h2 a:hover {
    color: #007BFF; /* Cambia colore al passaggio del mouse */
}

.product-card h3 {
	font-size: 18px;
    color: #333;
}

/* Stile per il riquadro "Aggiungi un nuovo prodotto" */
.add-product-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Larghezza fissa per il riquadro */
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.add-product-card a:hover {
    color: #007BFF; /* Cambia colore al passaggio del mouse */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    width: 90%;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(33.333% - 40px);
    text-align: center;
    margin-bottom: 20px;
}

.product-card h3 {
    margin: 0;
    color:#333;
    font-weight: bold;
}

.product-card p {
    margin: 8px 0;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

.add-product-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-add-product {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-add-product:hover {
    background-color: #0056b3;
}

/* Stile per il contenitore che centra il riquadro */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza pari a quella della viewport */
    background-color: #f4f4f4; /* Colore di sfondo della pagina */
}

/* Stile per il riquadro del form */
.form-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Larghezza massima per il form */
    text-align: center;
}

/* Stile per il titolo del form */
.form-box h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Stile per i gruppi di input */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Stile per le etichette dei campi */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Stile per i campi di input */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom:10px;
}

.error-message {
    position: absolute;
    bottom: -30px; /* Posiziona il messaggio di errore più in basso rispetto al form */
    left: 50%;
    transform: translateX(-50%); /* Centra orizzontalmente il messaggio */
    width: 100%; /* Occupa tutta la larghezza del form */
    color: red;
    text-align: center;
    margin-top: 20px; /* Spazio sopra il messaggio */
}

/* Stile per il pulsante */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:20px;
    margin-bottom: 20px;
}

/* Effetto al passaggio del mouse sul pulsante */
button[type="submit"]:hover {
    background-color: #0056b3;
   
    
}
.current-order {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile per la tabella dell'ordine */
.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table th,
.order-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

/* Pulsanti per le azioni */
.order-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Pulsante per confermare l'ordine */
.confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-button:hover {
    background-color: #45a049;
}

.order-notes-form {
    display: flex;
    flex-direction: column;
}

.order-notes-form label {
    font-size: 16px;
    margin-bottom: 8px;
}

.order-notes-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.confirm-button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-admin-table th, .order-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-admin-table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

.order-admin-table td {
    background-color: #ffffff;
}

/* Pulsante per annullare l'ordine */
.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button:hover {
    background-color: #d32f2f;
}
/*pagina index*/

/* Stile per il contenitore principale */

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.flex-box {
    background-color: rgba(255, 255, 255, 0.8); /* Bianco semi-trasparente */
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunta di ombreggiatura per migliorare la profondità */
}

.flex-box h3 {
    color: #333; /* Colore del testo per un migliore contrasto */
    font-weight: bold;
}

.flex-box p {
    color: #444; /* Colore del testo per un migliore contrasto */
    font-size: 16px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


/* Contenitore principale delle informazioni */
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}

/* Stile per i box delle informazioni */
.info-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Stile per la box della mappa */
.map-box img {
    max-width: 100%;
    border-radius: 8px;
}

/* Stile per la box della storia */
.story-box {
    text-align: left;
}

.story-box h2 {
    margin-bottom: 15px;
}

.story-box p {
    line-height: 1.6;
}

/* Adattamento per schermi più piccoli */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
    }

    .info-box {
        margin-bottom: 20px;
    }
}

/*image index*/

body.home-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

body.home-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Sovrapposizione nera semi-trasparente per migliorare la visibilità del testo */
    z-index: 1;
}

body.home-background > * {
    position: relative;
    z-index: 2;
}

